<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-train-subway text-white" style="color: #003ea8;font-size: 24px"></i>
      <span class="fw-bold ps-2 text-white">Train Ticket Booking System</span>
    </a>
    <div class="d-flex">
      <div class="navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link" href="/admin"><i class="fa-solid fa-user-gear"></i> Admin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
