.container table td {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.date-time {
  font-size: 12px;
}

.form-control,.form-select{
  font-size: 13px;
  font-weight: 500;
}
.input-group-text{
  font-size: 14px;
  font-weight: 700;
}

table th{
  font-size: 14px;
}

.modal-title{
  font-size: 22px;
  font-weight: 700;
}

.save-btn input{
  width: 120px;
  height: 45px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

}

.save-btn input:hover {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.35);
}
