<div class="container-fluid">
  <div class="container  card shadow-lg border-0 rounded-3 p-4">
    <div class="h3 mb-3 fw-bold">LOGIN</div>
    <form [noValidate]="false" (ngSubmit)="onLoginBtnClicked()">
      <div class="form-floating mb-3 mt-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
               name="emailID" [(ngModel)]="loginData.emailID">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
               name="password" [(ngModel)]="loginData.password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="login-btn my-2 d-flex justify-content-end">
        <input type="submit" value="Login" class="btn btn-outline-dark">
      </div>
    </form>

    <div class="no-account-text text-danger">
      Don't have an account register <a href="/register">here.</a>
    </div>

  </div>
</div>
